@import '../font/iconfont.css';

*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-nav{
    .link{
        flex: auto;
        text-align: center;
    }
}

div[contenteditable=true]{
    -webkit-user-select: text !important;
    -webkit-user-modify: read-write-plaintext-only;
    user-select: text;
    white-space: pre-wrap;
}